*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 150px;
    
}

header {
    background-color: rgb(25, 98, 153);
    display: flex;
    align-items: center;
    min-height: 60px;
    padding: 0 20px;

    nav:hover{
        transform: scale(1.1);
    }
}

header nav {
    margin-left: 40px; 
}

header a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

body {
    background-color:#E0E0E0;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00CEAB;
    padding: 20px;
    height: 100vh;
}

.white-box{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 6px 6px 22px 2px black;
}

.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.item{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.product{
    text-align: center;
    background-color: #E9EEF2;
    height: 220px;
    width: 100%;
    border-radius: 5px;
}

.product.sale .sell{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #E2401F;
    color: white;
    padding: 5px;
    font-size: 0.9rem;
    font-weight: bold;
}

.item img{
   margin-top: 10px;
   height: 90%;
    
}

.item h3{
    margin: 0;
    color: #444;
    font-size: 1.2rem;
    margin: 10px 0px 10px 0px;
}

.item span{
    color: #777;
    font-size: 1rem;
    margin-bottom: 10px;
}

.item button{
    background-color: #999;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

@media(max-whidth:600px){
    .items{
        display: block;
    }
    .item{
        margin-bottom: 20px;
    }
    .container{
        height: auto;
    }
}