
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img{
    width: 150px;
    
}

header {
    background-color: rgb(25, 98, 153);
    display: flex;
    align-items: center;
    min-height: 60px;
    padding: 0 20px;
    height: 100px;
}

header nav {
    margin-left: 40px; 
}

header a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px;
    display: inline-block;
}

header a:hover {
    transform: scale(1.1);
}

body {
    background-color: #1A4E8A;
}

div {
    width: 700px;
    height: auto;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto' , sans-serif;
    margin-block: 20px;
    border-radius: 20px;
    background-color: #FFFFFF;
}

p,ul, li {
    text-align: justify;
    margin-bottom: 15px;
    line-height: 1.6;
}

h1{
    margin-bottom: 20px;
    color: #002147;
    font-size: 35px;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #003366;
}

hr {
    width: 250px;
    margin-left: 200px;
    height: 2px;
    border: none;
    background-color: black;
}

li::marker{
    color: yellow;
}





