
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 150px;
    
}

header {
    background-color: rgb(25, 98, 153);
    display: flex;
    align-items: center;
    min-height: 60px;
    padding: 0 20px;

    nav:hover{
        transform: scale(1.1);
    }
}

header nav {
    margin-left: 40px; 
}

header a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}


