
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 150px;
    
}

header {
    background-color: rgb(25, 98, 153);
    display: flex;
    align-items: center;
    min-height: 60px;
    padding: 0 20px;
    background: linear-gradient(to bottom ,#1A4E8A , #FAFAFA );
    height: 100px;
    nav:hover{
        transform: scale(1.1);
    }
}

header nav {
    margin-left: 40px; 
}

header a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

body {
    background-color: #1A4E8A;
}

div {
    width: 700px;
    height: 700px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto' , sans-serif;
    background-color: ;
    margin-block: 20px;
    border-radius: 20px;
    background-color: #FFFFFF;
}



